body {
    max-width: 80%;
    margin: auto;
    font-family: charter, serif;
}

#time_range {
    width: 100%;
    height: 420px;
}

#category_tree {
    width: 100%;
    height: 800px;
}

.intervals {
    width: 80%;
    margin: auto;
    text-align: center;
}